<div>
    <div id="buttons">
        <button (click)="getQuotes()">Ramdom Message</button>
        <button *ngIf="buttonVisible" (click)="showMessage()">Show Message</button>
        <button (click)="showButton()">Show Button</button>
        <button (click)="showImage()">Show Image</button>
    </div>
    <div appFirst>
        <div *ngIf="messageVisible">
            <h4>{{quote}}</h4>
        </div>
        <span>{{autor}}</span>
        <br>
    </div>
    <div *ngIf="imageVisible">
        <img src="../../../../assets/imagenes/image.jpg" alt="">
    </div>
</div>